/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* Stage */
#stage {
  background: linear-gradient(to bottom, #87CEEB, #1E90FF); /* Light to deep blue */
  height: 300px;
  width: 600px;
  position:relative;
}

#terrain{
  height:300px;
  width:600px;
  position:absolute;
  top:230px;
}

#treeone{
  position:absolute;
  top:110px;
  left:200px
}

#treetwo{
  position:absolute;
  top:110px;
  left:300px
}

#flowers{
  position:absolute;
  top:110px;
}

#spikes{
  position:absolute;
  top:150px;
  left:120px;
}

#hooptrack{
  position:absolute;
  top:28px;
  left:390px;
}

#pixel-sonic{
  position:absolute;
  top:175px;
  left:290px;
  cursor:pointer;
  transition: transform 0.3s ease-out;
}

#pixel-sonic.jump {
  animation: jump 0.6s ease-out;
}

@keyframes jump {
  0% { transform: translateY(0); }
  40% { transform: translateY(-80px); } /* Sonic jumps up */
  100% { transform: translateY(0); } /* Lands back */
}

#cloud{
  position:absolute;
  top:70px;
  left:40px;
  opacity:80%;
}

.googleLetter {
  font-size: 60px;
  font-family: Arial, sans-serif;
  fill: #Ffd700; /* Change the color as needed */
}