/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}

/* Doodle Stage */
#stage {
  background: #ccc;
  height: 300px;
  width: 600px;
  position: relative;
}

#heart1 {
  fill: red;
}

#heart2 {
  fill: green;
}

#terrain{
  height:300px;
  width:600px;
  position:absolute;
  top:230px;
}

#treeone{
  position:absolute;
  top:110px;
  left:200px
}

#treetwo{
  position:absolute;
  top:110px;
  left:300px
}

#flowers{
  position:absolute;
  top:110px;
}

#spikes{
  position:absolute;
  top:150px;
  left:120px;
}

#hooptrack{
  position:absolute;
  top:110px;
  left:400px;
}

.googleLetter {
  font-size: 60px;
  font-family: Arial, sans-serif;
  fill: #Ffd700;
}